@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-playfair: var(--font-playfair);
  --font-inter: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, .font-playfair {
  font-family: var(--font-playfair), serif;
}
